{% extends 'base.html' %}
{% block content %}

<form method="POST" class="form-inline">
  {% csrf_token %}
  <div class="col-xl-6 col-md-6 mb-6">
    {% if categoria %}
    <div class="card border-left-warning shadow h-100 py-2">
    {% else %}
      <div class="card border-left-success shadow h-100 py-2">
    {% endif %}
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% if categoria %} Editar {% else %} Nueva {% endif %} Categoría</div>
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col-4">
                <div class="input-group">
                  <input type="text" name="name" maxlength="100" id="name" class="form-control" placeholder="Nombre" value="{% if categoria %} {{ categoria.name }} {% endif %}" required>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <input type="text" name="description" maxlength="100" id="description" class="form-control" placeholder="Descripción" value="{% if categoria %} {{ categoria.description }} {% endif %}" required>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="state" class="mr-2">Estado</label>
                  <input type="checkbox" name="state"  id="state" {% if categoria.state %} checked {% endif %}>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                <a href="{% url 'inventario:list_category' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block javascript %}{% endblock %}