{% extends 'base.html' %}

{% block content %}

<!--Pantilla-->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <div class="col-9">
                <h6 class="text-white text-capitalize ps-3">Listado de Categorías</h6>
                </div>
                <div class="col-3">
                <a href="{% url 'inventario:new_category' %}" class="btn btn-info btn-circle" role="button"><i class="far fa-new"></i>Nueva Categoría</a>
                </div>
              </div>
            </div>
            {% if not categories %}
                <p >No hay categorías</p>
          {% else %}
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Fecha creación</th>
                      <th>Fecha modificación</th>
                      <th class="all">Acciones </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for category in categories %}
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>          
          <td>{{ category.created_date|date:"d/m/Y H:i:s" }}</td>
          <td>{{ category.modified_date|date:"d/m/Y H:i:s" }}</td>
          <td>
            <a href="{% url 'inventario:edit_category' category.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
            <a href="{% url 'inventario:delete_category' category.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
            {% comment %} <button class="btn btn-danger btn-circle" role="button" data-toggle="modal" data-target="#deleteModal{{ category.id }}">
              <i class="far fa-trash-alt"></i>
            </button>           {% endcomment %}
          </td>
        </tr>

        <!-- Modal de confirmación para eliminar -->
        <div class="modal fade" id="deleteModal{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmación de Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta categoría?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'inventario:delete_category' category.id %}" class="btn btn-danger">Eliminar</a>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}