{% extends 'base.html' %}
{% block content %}
<form method="POST" class="form-inline">
  {% csrf_token %}
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">¿Eliminar {{ obj.descripcion }}?</div>
            <div class="d-flex">
              <button type="submit" class="btn btn-danger mr-2">Eliminar</button>
              <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success">Cancelar</a>
            </div>
          </div>
          <div class="col-auto"><i class="far fa-question-circle fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block javascript %}{% endblock %}